.topbar {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: lavender;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin: 0.75rem 1rem;
}

.dropdown {
  margin: 1rem;
  font-size: 15px;
}

.course {
  grid-column: span 1;
  border: 0.15em solid lightgray;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
}

.selected {
  background-color: lavenderblush;
}

.conflicted {
  background-color: gainsboro;
}

.courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .courses {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

.info {
  flex: 3;
  border-bottom: 0.15em solid lightgray;
}

.meets {
  flex: 1;
}

.editbutton {
  padding: 6px 12px;
  cursor: pointer;
  background-color: PALEVIOLETRED;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.2s, color 0.2s;
  font-size: 20px;
}

.editbutton:hover {
  background-color: #ccc;
}

.addbutton {
  padding: 6px 12px;
  cursor: pointer;
  background-color: PALETURQUOISE;
  color: black;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.2s, color 0.2s;
  font-size: 20px;
}

.addbutton:hover {
  background-color: lightseagreen;
}
